/**
 *  Colors
 */
$purple: #6f73ee;
$black: #282739;
$gray-200: #eaebed;
$gray-600: #5d6c7b;
$white: #ffffff;
$background: #f4f7fb;
$red: #ee685f;
$orange: #f3a712;
$green: #75d14a;

// Social
$viber-color: #8e24aa;
$whatsapp-color: #4caf50;
$telegram-color: #039be5;


// Font
$base-font-family: "Roboto", sans-serif;
$heading-font-family: "Jost", sans-serif;
$base-font-size: 14px;

$transition-duration: .15s;
$transition-function: ease-in-out;

$container-width: 1380px;
$container-padding: 30px;
$container-padding-tablet: 15px;
$container-padding-mobile-sm: 8px;

// Breakpoints
$mobile-sm: 320px;
$mobile: 567px;
$tablet: 767px;
$laptop: 1279px;
$desktop: 1280px;