<li class="basket-widget__item basket-widget-item">
  <div class="basket-widget-item__thumb-wrap">
    <picture>
      <img class="basket-widget-item__thumb" src="img/basket-item-thumb.jpg" alt="">
    </picture>
  </div>

  <div class="basket-widget-item__info">
    <h3 class="basket-widget-item__title">
      <a href="javascript:void(0)" class="basket-widget-item__title-link">
        @@title
      </a>
    </h3>
    <div class="basket-widget-item__details">
      <span class="basket-widget-item__price">@@price ₽</span>
      <span class="basket-widget-item__quantity">@@qty шт.</span>
    </div>
  </div>

  <button class="basket-widget-item__remove">
    <svg class="basket-widget-item__remove-icon" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#trash"></use>
    </svg>
  </button>
</li>