<div class="header__product-actions">
  <a href="javascript:void(0)" class="btn btn--rounded btn--white header__action-btn">
    <svg class="header__action-icon" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#compare"></use>
    </svg>
  </a>

  <a href="javascript:void(0)" class="btn btn--rounded btn--white header__action-btn">
    <svg class="header__action-icon" xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="img/sprite.svg#favorite_outline"></use>
    </svg>
  </a>

  @@include('./basket-widget.html')
</div>