<nav class="header__nav navbar js-navbar">
  <div class="container">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">О магазине</a>
      </li>
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">
          Доставка и оплата
        </a>

        <span class="navbar__item-caption">Доступна рассрочка</span>
      </li>
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">Тест-драйв</a>
      </li>
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">Блог</a>
      </li>
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">Контакты</a>
      </li>
      <li class="navbar__item">
        <a href="javascript:void(0)" class="navbar__link">Акции</a>

        <span class="navbar__item-caption navbar__item-caption--circle">%</span>
      </li>
    </ul>

    <div class="navbar__bottom-wrap">
      <div class="navbar__bottom">
        <nav class="navbar__bottom-nav">
          <ul class="navbar__bottom-nav-list">
            <li class="navbar__bottom-nav-item">
              <a href="javascript:void(0)" class="navbar__bottom-nav-link">
                Сервис
              </a>
            </li>
            <li class="navbar__bottom-nav-item">
              <a href="javascript:void(0)" class="navbar__bottom-nav-link">
                Сотрудничество
              </a>
            </li>
            <li class="navbar__bottom-nav-item">
              <a href="javascript:void(0)" class="navbar__bottom-nav-link">
                Заказать звонок
              </a>
            </li>
          </ul>
        </nav>

        <div class="navbar__social-wrap">
          <span class="navbar__social-label">Online-чат:</span>

          <nav class="navbar__social-nav">
            <ul class="navbar__social-items">
              <li class="navbar__social-item">
                <a href="javascript:void(0)" class="navbar__social-link">
                  <svg class="navbar__social-icon social social--viber" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/sprite.svg#social_viber"></use>
                  </svg>
                </a>
              </li>
              <li class="navbar__social-item">
                <a href="javascript:void(0)" class="navbar__social-link">
                  <svg class="navbar__social-icon social social--whatsapp" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/sprite.svg#social_whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="navbar__social-item">
                <a href="javascript:void(0)" class="navbar__social-link">
                  <svg class="navbar__social-icon social social--telegram" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/sprite.svg#social_telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>