.phone-block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  &__phone {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: $black;
  }

  &__toggle {
    @include resetButton;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid $gray-600;
    border-radius: 50%;
    color: $gray-600;
    cursor: pointer;
    @include transition(background-color, color);

    &-icon {
      display: block;
      width: 8px;
      height: 8px;
      fill: currentColor;
      @include transition(transform);
    }

    &--opened {
      background-color: $gray-600;
      color: $white;
    }

    &--opened>&-icon {
      transform: rotate(45deg);
    }

    @include hover {
      background-color: $gray-600;
      color: $white;
    }
  }

  &__list {
    @include resetList;
    display: block;
    max-width: 250px;
    width: 100%;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 10px 30px 0 rgba(111, 115, 238, 0.1);

    &-wrap {
      position: absolute;
      top: calc(100% + 8px);
      right: 0;
      transform: translateY(20px);
      opacity: 0;
      z-index: 10;
      pointer-events: none;
      @include transition(transform, opacity);

      &--opened {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 15px 20px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-200;
    }

    &-label {
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      color: $gray-600;
    }

    &-link {
      max-width: fit-content;
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
      text-decoration: none;
      color: $black;
    }

    &-schedule {
      font-weight: 400;
      font-size: 12px;
      white-space: nowrap;
      color: $black;
    }
  }
}